@import "{}/imports/ui/stylesheets/not-found.less";

.content {
    padding: 10px;
    color: #47a3da;
    max-width: 960px;
    margin: auto;
    background: #fff;
    }



.logonName{
    color:red;
}

.selectYear{
    text-decoration: none;
    color:#2196F3;
}

.selectYear:hover { 
    background-color:#2196F3;
    color: #fff;
}
  